@model Dictionary<long, LIB.Tools.BO.ItemBase>
@using JuliaAlert.Models.Objects
@using LIB.Tools.Utils
@{
    Layout = "~/Views/Master/_Ajax.cshtml";

    long SupplyFindingId = Convert.ToInt64(Request.Form["ParentId"]);
}
<div class="edit-section-table">
    <div class="edit-section-table-header">
        <div class="edit-section-table-title">Название</div>
        <div class="edit-section-table-title">Код</div>
        <div class="edit-section-table-title">Цвет</div>
        <div class="edit-section-table-title">Кол-во</div>
        <div class="edit-section-table-title">Цена за шт</div>
        <div class="edit-section-table-title">Сумма</div>
        <div class="edit-section-table-title">Возврат</div>
        <div class="edit-section-table-title"></div>
    </div>

    <div class="edit-section-table-row edit-section-table-add">
        <div class="edit-section-table-content">
            <div class="input-row" style="position: relative;">
                <input type="text" name="Finding_autocomplete" class="input autocomplete-input ui-autocomplete-input" onchange="set_Finding_data_dynamic(this)" data-namespace="JuliaAlert.Models.Objects.Finding" data-classname="Finding" data-autocompleteminlen="0" data-autocompletename="Finding" data-autocomplete-server="1" autocomplete="off">
                <input type="hidden" class="hidden-autocomplete-input" name="Finding">
                <a onclick="clear_autocomplete_dynamic(this)" class="clear-link"></a>
            </div>
        </div>

        <div class="edit-section-table-content">
            <div class="input-row">
                <input type="text" name="Code" class="input midle-input-table" disabled>
            </div>
        </div>

        <div class="edit-section-table-content">
            <div class="input-row">
                <select name="ColorProduct" class="select dynamic-select" data-req="1" data-req-mess="Заполните поле"></select>
            </div>
        </div>

        <div class="edit-section-table-content">
            <div class="input-row">
                <input type="number" name="Count" class="input decimal-input" data-req="1" data-req-mess="Заполните поле" step="any" onkeyup="get_final_price(this)">
            </div>
        </div>

        <div class="edit-section-table-content">
            <div class="input-row">
                <input type="number" name="Price" class="input decimal-input" data-req="1" data-req-mess="Заполните поле" step="any" onkeyup="get_final_price(this)">
            </div>
        </div>

        <div class="edit-section-table-content">
            <div class="input-row">
                <input type="number" name="FinalPrice" class="input decimal-input" step="any" disabled>
            </div>
        </div>

        <div class="edit-section-table-content"></div>

        <div class="edit-section-table-content edit-section-table-content-controls">
            <input type="hidden" dontAutoClear name="SupplyFinding" value="@SupplyFindingId">
            <div class="dynamic-btn-conainer">
                <a title="Сохранить" class="control-save" onclick="save_Dynamic(this, @SupplyFindingId, '@typeof(SupplyFindingUnit).FullName')"></a>
            </div>
        </div>
    </div>

    @foreach (SupplyFindingUnit supplyFindingUnit in Model.Values)
    {
        <div class="edit-section-table-row">
            <input type="hidden" dontAutoClear name="Id" value="@supplyFindingUnit.Id">
            <input type="hidden" dontAutoClear name="SupplyFinding" value="@SupplyFindingId">

            <div class="edit-section-table-content">
                <div class="input-row">
                    <input type="text" name="Finding_Name" class="input" value="@supplyFindingUnit.FindingColor.Finding.GetName()" disabled>
                </div>
                <input type="hidden" name="Finding" value="@supplyFindingUnit.FindingColor.Finding.Id">
            </div>

            <div class="edit-section-table-content">
                <div class="input-row">
                    <input type="text" name="Code" class="input midle-input-table" value="@supplyFindingUnit.FindingColor.Finding.Code" disabled>
                </div>
            </div>

            <div class="edit-section-table-content">
                <div class="input-row">
                    <input type="text" name="ColorProduct_Name" class="input midle-input-table" value="@supplyFindingUnit.FindingColor.ColorProduct.GetName()" disabled>
                </div>
                <input type="hidden" name="ColorProduct" value="@supplyFindingUnit.FindingColor.ColorProduct.Id">
            </div>

            <div class="edit-section-table-content">
                <div class="input-row">
                    <input type="number" name="Count" class="input decimal-input" data-req="1" data-req-mess="Заполните поле" step="any" onkeyup="get_final_price(this)" value="@supplyFindingUnit.Count.ToString("F")">
                </div>
            </div>

            <div class="edit-section-table-content">
                <div class="input-row">
                    <input type="number" name="Price" class="input decimal-input" data-req="1" data-req-mess="Заполните поле" step="any" onkeyup="get_final_price(this)" value="@supplyFindingUnit.Price.ToString("F")">
                </div>
            </div>

            <div class="edit-section-table-content">
                <div class="input-row">
                    <input type="number" name="FinalPrice" class="input decimal-input" data-req="1" data-req-mess="Заполните поле" step="any" value="@((supplyFindingUnit.Price * supplyFindingUnit.Count).ToString("F"))" disabled>
                </div>
            </div>

            <div class="edit-section-table-content">
                <a class="button return-btn@(supplyFindingUnit.IsReturn() ? " button-red" : "")" onclick="open_simple_popup_dynamic('@typeof(SupplyFindingUnit).FullName', @supplyFindingUnit.Id, '~/Views/Production/ReturnSupplyFindingUnit.cshtml')">Возврат</a>
            </div>

            <div class="edit-section-table-content edit-section-table-content-controls">
                <div class="dynamic-btn-conainer">
                    <a title="Сохранить" class="control-save" onclick="save_Dynamic(this, @SupplyFindingId, '@typeof(SupplyFindingUnit).FullName')"></a>
                    <a title="Удалить" class="control-delete" onclick="delete_Dynamic(this, @supplyFindingUnit.Id, '@typeof(SupplyFindingUnit).FullName')"></a>
                    <a title="Перейти к фурнитуре" class="control-link" href="@URLHelper.GetUrl("DocControl/FindingColor/" + supplyFindingUnit.FindingColor.Id)" target="_blank"></a>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(".edit-section-table .autocomplete-input").each((i, item) => load_autocomplete(item));
</script>