@model List<ItemBase>
@using LIB.Tools.BO
@using JuliaAlert.Models.Objects
@{
    Layout = "~/Views/Master/_Ajax.cshtml";
}
<div class="data-grid-title-row">
    <div class="data-grid-title">Документ</div>
    <div class="data-grid-title">Дата</div>
    <div class="data-grid-title">Поставщик</div>
    <div class="data-grid-title">Сумма прихода</div>
</div>
@foreach (SupplyFinding supplyFinding in Model)
{
    <a href="@LIB.Tools.Utils.URLHelper.GetUrl("DocControl/SupplyFinding/" + supplyFinding.Id )" target="_blank" class="data-grid-data-row data-grid-data-row-list">
        <div class="data-grid-data"><b>@supplyFinding.DocumentNumber</b></div>
        <div class="data-grid-data">@supplyFinding.Date.ToString("dd.MM.yyyy")</div>
        <div class="data-grid-data">@supplyFinding.Provider.Name</div>
        <div class="data-grid-data">@supplyFinding.TotalPrice</div>
    </a>
}