@model Order
@using JuliaAlert.Models.Objects
@using Weblib.Models.Common
@using LIB.AdvancedProperties
@using LIB.BusinessObjects
@{
    ViewBag.Title = Model.Id > 0 ? "Заказ: " + (string.IsNullOrEmpty(Model.OrderNumber) ? Model.Client.GetName() : Model.OrderNumber) : "Добавить заказ";
    Layout = "~/Views/Master/_Standard_NoFooter.cshtml";

    <script src="~/Scripts/FrontEnd/Object/order.js"></script>
    <script src="~/Scripts/FrontEnd/Object/product.js"></script>
    <script src="~/Scripts/FrontEnd/Object/client.js"></script>
    <script src="~/Scripts/FrontEnd/print.js"></script>
    <script src="~/Scripts/FrontEnd/popup.js"></script>

    var currentUser = LIB.Tools.Security.Authentication.GetCurrentUser();

    bool AddOrderPass = currentUser.HasAtLeastOnePermission((long)BasePermissionenum.AddOrder),
    EditOrderPass = currentUser.HasAtLeastOnePermission((long)BasePermissionenum.EditOrder);

    var CanEdit = EditOrderPass || (AddOrderPass && Model.Id == 0);

    ViewData["OrderId"] = Model.Id;
    ViewData["OrderLink"] = "DocControl/Order";
}
<form class="inner-content-area content-control content-two-columns" action="@LIB.Tools.Utils.URLHelper.GetUrl("DocControl/Save")">
    @{
        List<ButtonModel> ControlButtons = new List<ButtonModel>();
        @Html.Partial("../Controls/RowControl/_pagecontrols", new PageControlsModel()
        {
            Id = Model.Id,
            Buttons = ControlButtons,
            Object = "Order",
            Delete = Model.Id > 0 && CanEdit,
            Save = AddOrderPass,
            Namespace = typeof(Order).FullName
        })

        var totalSum = Math.Round(Model.GetTotalSum(), 2, MidpointRounding.AwayFromZero);
        var discountSum = Math.Round(Model.GetDiscountSum(), 2, MidpointRounding.AwayFromZero);
        var finalTotalSum = Math.Round(Model.GetFinalTotalSum(), 2, MidpointRounding.AwayFromZero);
        var currencyName = Model.Id > 0 ? Model.SalesChannel.Currency.GetName() : string.Empty;

    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="content-two-columns-form">
        <div class="inner-content-left">
            <div class="edit-section">
                <div class="edit-section-header-flex">Добавить новый заказ</div>
                <div class="edit-section-body">

                    <div class="edit-section-row">
                        <div class="edit-section-row-left">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "OrderNumber",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                Value = Model.OrderNumber,
                                Caption = "Номер заказа",
                                OnKeyUp = "$('[name=InvoiceNumber]').val(this.value)",
                                ValidationType = ValidationTypes.Required
                            })
                        </div>
                        <div class="edit-section-row-right">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "InvoiceNumber",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                Value = Model.InvoiceNumber,
                                Caption = "Номер Invoice",
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="edit-section-row-left">
                            @Html.Partial("../Controls/RowControl/_selectrow", new DropDownModel()
                            {
                                Name = "Stock",
                                AllowDefault = true,
                                Value = Model.Stock != null ? Model.Stock.Id.ToString() : "0",
                                Options = new Stock().Populate(),
                                Caption = "Склад",
                                ValidationType = ValidationTypes.Required
                            })
                        </div>
                        <div class="edit-section-row-right">
                            @Html.Partial("../Controls/RowControl/_selectrow", new DropDownModel()
                            {
                                Name = "SalesChannel",
                                AllowDefault = true,
                                Value = Model.SalesChannel != null ? Model.SalesChannel.Id.ToString() : "0",
                                Options = SalesChannel.PopulateByWord(),
                                Caption = "Канал продаж",
                                ValidationType = ValidationTypes.Required
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="flex-group-date">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "OrderDate",
                                Class = "input calendar-input",
                                Type = Weblib.Models.Common.Enums.TextboxType.Date,
                                Value = Model.OrderDate != DateTime.MinValue ? Model.OrderDate.ToString(@"dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "",
                                DateValue = Model.OrderDate != DateTime.MinValue ? Model.OrderDate : DateTime.MinValue,
                                OnChange = "change_date()",
                                ValidationType = ValidationTypes.Required,
                                Caption = "Оформление"
                            })

                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "DepartureDate",
                                Class = "input calendar-input",
                                Type = Weblib.Models.Common.Enums.TextboxType.Date,
                                Value = Model.DepartureDate != DateTime.MinValue ? Model.DepartureDate.ToString(@"dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "",
                                DateValue = Model.DepartureDate != DateTime.MinValue ? Model.DepartureDate : DateTime.MinValue,
                                OnChange = "change_date()",
                                Caption = "Отправка"
                            })

                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "ReceivingDate",
                                Class = "input calendar-input",
                                Type = Weblib.Models.Common.Enums.TextboxType.Date,
                                Value = Model.ReceivingDate != DateTime.MinValue ? Model.ReceivingDate.ToString(@"dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "",
                                DateValue = Model.ReceivingDate != DateTime.MinValue ? Model.ReceivingDate : DateTime.MinValue,
                                OnChange = "change_date()",
                                Caption = "Получение"
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="edit-section-row-left">
                            @Html.Partial("../Controls/RowControl/_selectrow", new DropDownModel()
                            {
                                Name = "OrderState",
                                AllowDefault = true,
                                Value = (Model.OrderState != null ? Model.OrderState.Id.ToString() : "0"),
                                Options = new OrderState().Populate(),
                                Caption = "Статус",
                                ValidationType = ValidationTypes.Required
                            })
                        </div>
                        <div class="edit-section-row-right">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "TrackingNumber",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                Value = Model.TrackingNumber,
                                Caption = "Номер отслеживания",
                                OnDblClick = "window.open('" + Model.TrackingNumber + "', '_blank')"
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="full-size">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Description",
                                Type = Weblib.Models.Common.Enums.TextboxType.MultiLine,
                                Value = Model.Description,
                                Caption = "Описание"
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{
            var client = Model.Id > 0 ? Client.PopulateById(Model.Client.Id) : null;
            var ClientOrders = client != null && client.Id > 0 ? Order.PopulateByClient(client) : new List<Order>();
        }

        <div class="inner-content-right">
            <div class="edit-section">
                <div class="edit-section-header flex-caption">
                    <div>
                        <span>Заказчик@(client != null ? ": " : "")</span>
                        <label id="client_name_ajax" class="text-client">@(client != null ? client.Id > 0 ? client.GetName() : "Заказчик удален!" : "")</label>
                    </div>
                    <div onclick="toggle_client_section(this)" title="Extinde" class="edit-section-state-indicator" style="height: 47px; border-left: 4px solid #666; border-radius: 0 5px 0 0">
                        <div class="close-block right-line"></div>
                        <div class="close-block left-line"></div>
                    </div>
                </div>
                <div id="client_info" class="edit-section-body edit-section-body-form" style="display: none;">
                    <div class="edit-section-row">
                        @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                        {
                            AutocompleteName = "Client",
                            Type = Weblib.Models.Common.Enums.TextboxType.AutoComplete,
                            AutocompleteServer = true,
                            AutocompleteMinLen = 2,
                            AutocompleteType = typeof(Client),
                            AutocompleteFilter = ((long)Currency.Enum.USD) + "," + ((long)Currency.Enum.EUR),
                            AutocompleteClearFunction = "clear_client_autocomplete(this)",
                            Value = client != null && client.Id > 0 ? client.Name : "",
                            HtmlValue = client != null && client.Id > 0 ? client.Id.ToString() : "",
                            OnChange = "client_data_output()",
                            Caption = "Имя"
                        })
                    </div>

                    <div class="edit-section-row">
                        <div class="edit-section-row-left">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                AutocompleteName = "Countries",
                                Type = Weblib.Models.Common.Enums.TextboxType.AutoComplete,
                                AutocompleteServer = true,
                                AutocompleteMinLen = 0,
                                AutocompleteType = typeof(Countries),
                                Value = client != null && client.Id > 0 ? client.Countries.GetName() : "",
                                HtmlValue = client != null && client.Id > 0 ? client.Countries.Id.ToString() : "",
                                Caption = "Страна"
                            })
                        </div>
                        <div class="edit-section-row-right">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                AutocompleteName = "City",
                                Type = Weblib.Models.Common.Enums.TextboxType.AutoComplete,
                                AutocompleteServer = true,
                                AutocompleteMinLen = 0,
                                AutocompleteType = typeof(City),
                                Value = client != null && client.Id > 0 ? client.City.GetName() : "",
                                HtmlValue = client != null && client.Id > 0 ? client.City.Id.ToString() : "",
                                Caption = "Город"
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="edit-section-row-left">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                AutocompleteName = "State",
                                Type = Weblib.Models.Common.Enums.TextboxType.AutoComplete,
                                AutocompleteServer = true,
                                AutocompleteMinLen = 0,
                                AutocompleteType = typeof(State),
                                Value = client != null && client.Id > 0 && client.State != null ? client.State.GetName() : "",
                                HtmlValue = client != null && client.Id > 0 ? client.State.Id.ToString() : "",
                                Caption = "Штат"
                            })
                        </div>
                        <div class="edit-section-row-right">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Phone",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                OnKeyUp = "check_number_input(this)",
                                Value = client != null ? client.Phone : "",
                                Caption = "Телефон"
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="edit-section-row-left">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Address",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                Value = client != null ? client.Address : "",
                                Caption = "Адрес"
                            })
                        </div>
                        <div class="edit-section-row-right">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Index",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                Value = client != null ? client.Index : "",
                                Caption = "Индекс адреса"
                            })
                        </div>
                    </div>

                    <div class="edit-section-row">
                        <div class="edit-section-row-trio edit-section-row-fisrt">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Discount",
                                Type = Weblib.Models.Common.Enums.TextboxType.Text,
                                Class = "input funcNumber",
                                Value = client != null ? client.Discount.ToString() : "",
                                Caption = "Скидка"
                            })
                        </div>
                        <div class="edit-section-row-trio edit-section-row-second">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Birthday",
                                Class = "input calendar-input",
                                Type = Weblib.Models.Common.Enums.TextboxType.Date,
                                Value = client != null && client.Birthday != DateTime.MinValue ? client.Birthday.ToString("dd/MM/yyyy") : "",
                                DateValue = client != null ? client.Birthday : DateTime.MinValue,
                                Caption = "Дата рождения"
                            })
                        </div>
                        <div class="edit-section-row-trio edit-section-row-third">
                            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                            {
                                Name = "Email",
                                Type = Weblib.Models.Common.Enums.TextboxType.Email,
                                Value = client != null ? client.Email : "",
                                Caption = "Email"
                            })
                        </div>
                    </div>

                    <div class="edit-section-row not-vivible" style="padding: 7px;">
                        @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
                        {
                            Name = "Comment",
                            Type = Weblib.Models.Common.Enums.TextboxType.Text,
                            Value = client != null ? client.Comment : "",
                            PlaceHolder = "Место для коментария..."
                        })
                        <a class="description-control" onclick="show_description(this)"></a>
                    </div>
                </div>

                <div id="client_order_info" class="edit-section-body edit-section-body-form" style="max-height: 373px; ">
                    @Html.Partial("~/Views/Client/ClientOrders.cshtml", ClientOrders)
                </div>
            </div>

        </div>
    </div>
    <div class="clear separator"></div>

    @if (Model.Id > 0)
    {
        string orderHeaderCaption = totalSum != finalTotalSum ? totalSum + currencyName + " - " + discountSum + currencyName + " = " + finalTotalSum + currencyName : totalSum + currencyName;

        <div id="product_for_order_dynamic" class="edit-section dynamic-section dynamic-section-sample">
            <div class="edit-section-header">
                <div style="display: flex;">
                    <div id="dynamic_section_samples" onclick="toggle_dynamic_section(this,'@typeof(ProductForOrder).FullName')" title="Добавить модель" class="edit-section-state-indicator">
                        <div class="close-block right-line"></div>
                        <div class="close-block left-line"></div>
                    </div>
                    <div id="header-caption-price" class="edit-section-header-caption">Заказы: @orderHeaderCaption</div>
                </div>
                <div class="edit-section-icons-group">
                    <a onclick="add_new_dynamic_section(this,'@typeof(ProductForOrder).FullName')" title="Добавить модель к заказу" class="edit-section-icon edit-section-new"></a>
                    <a onclick="open_simple_popup('InvoiceOrder')" class="edit-section-icon edit-section-print" title="Печать Invoice"></a>
                    <a onclick="save_all_dynamic_section(this, @Model.Id, '@typeof(ProductForOrder).FullName')" title="Сохранить" class="edit-section-icon edit-section-add"></a>
                </div>
            </div>
            <div class="edit-section-body edit-section-body-samples"></div>
        </div>

        <div class="clear separator"></div>

        <div class="edit-section dynamic-section dynamic-section-sample">
            <div class="edit-section-header">
                <div style="display: flex;">
                    <div id="dynamic_section_samples" onclick="toggle_dynamic_section(this,'@typeof(Gift).FullName')" title="Добавить подарок" class="edit-section-state-indicator">
                        <div class="close-block right-line"></div>
                        <div class="close-block left-line"></div>
                    </div>
                    <div class="edit-section-header-caption">Подарки: @Model.Gifts.Values.Sum(g => ((Gift)g).Count) шт</div>
                </div>
                <div class="edit-section-icons-group">
                    <a onclick="add_new_dynamic_section(this,'@typeof(Gift).FullName')" title="Добавить модель к заказу" class="edit-section-icon edit-section-new"></a>
                    <a onclick="print_item_document('ProformaOrder')" class="edit-section-icon edit-section-print" title="Печать Proforma"></a>
                </div>
            </div>
            <div class="edit-section-body edit-section-body-samples"></div>
        </div>
    }
</form>
<script>
    var gAcceptedId = @((long)OrderState.Enum.Accepted),
        gDeliveredId = @((long)OrderState.Enum.Delivered),
        gSentId = @((long)OrderState.Enum.Sent),
        gRefundClaimedId = @((long)OrderState.Enum.RefundClaimed),
        gPartialReturnId = @((long)OrderState.Enum.PartialReturn),
        gReturnId = @((long)OrderState.Enum.Return),
        gCurrencyName = '@currencyName',
        gIsLocalOrder = false;
</script>

<input type="hidden" id="TAX" value="@Model.TAX">
<input type="hidden" id="Delivery" value="@Model.Delivery">