@using JuliaAlert.Models.Objects
@using Weblib.Models.Common
@using LIB.AdvancedProperties
@using Weblib.Models.Common.Enums
@{
    Layout = "~/Views/Master/_PopUp.cshtml";
}

<div class="edit-section-header-popup center-header popup-header">
    Новая ткань
</div>

<div class="popup-container" style="flex-direction: column;">

    <div class="edit-section-row">
        <div class="edit-section-row-left">
            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
            {
                Name = "Name",
                Type = TextboxType.Text,
                Caption = "Название",
                ValidationType = ValidationTypes.Required
            })
        </div>
        <div class="edit-section-row-right">
            @Html.Partial("../Controls/RowControl/_inputrow", new TextboxModel()
            {
                Name = "Code",
                Type = TextboxType.Text,
                Caption = "Код",
                ValidationType = ValidationTypes.Required
            })
        </div>
    </div>

    <div class="edit-section-row">
        <div class="edit-section-row-left">
            @Html.Partial("../Controls/RowControl/_selectrow", new DropDownModel()
            {
                Name = "Compound",
                AllowDefault = true,
                Options = new Compound().Populate(),
                Caption = "Состав",
                ValidationType = ValidationTypes.Required
            })
        </div>
        <div class="edit-section-row-right">
            @Html.Partial("../Controls/RowControl/_selectrow", new DropDownModel()
            {
                Name = "ColorProduct",
                Caption = "Цвета",
                Class = "select select-multyselect",
                Multiple = true,
                Options = new ColorProduct().Populate(),
                ValidationType = ValidationTypes.Required
            })
        </div>
    </div>

    <input type="hidden" name="Namespace" value="@typeof(Textile).FullName">
    <input type="hidden" name="Id" value="0">
</div>

<div class="popup-btn">
    <a class="button" onclick="save_popup()">Сохранить</a>
</div>

<script>
    $('.popup-container').find('.select-multyselect').select2({ closeOnSelect: false });
</script>