@model List<ItemBase>
@using LIB.Tools.BO
@using LIB.BusinessObjects
@{
    Layout = "~/Views/Master/_Ajax.cshtml";
}
<div class="data-grid-title-row">
    <div class="data-grid-title">N</div>
    <div class="data-grid-title">Login</div>
    <div class="data-grid-title">Имя</div>
    <div class="data-grid-title">Последний визит</div>
    <div class="data-grid-title">Дата создания</div>
</div>
@foreach (User usr in Model)
{
    <a href="@LIB.Tools.Utils.URLHelper.GetUrl("SystemManagement/EditItem/User/JuliaAlertLib.BusinessObjects/" + usr.Id )" target="_blank" style="@usr.Role.GetStyleColor()" class="data-grid-data-row data-grid-data-row-list">
        <div class="data-grid-data"><b>@usr.Id</b></div>
        <div class="data-grid-data">@usr.Login</div>
        <div class="data-grid-data">@usr.Person.GetName()</div>
        <div class="data-grid-data">@usr.LastLogin.ToString("dd.MM.yyyy HH:mm")</div>
        <div class="data-grid-data">@usr.DateCreated.ToString("dd.MM.yyyy HH:mm")</div>
    </a>
}